<div class="overview-container">
    <h3>Recruiter Overview</h3>
        <canvas baseChart
        [data]="doughnutChartData"
        chartType="doughnut">
        </canvas>

  
    <div class="stats-grid">
      <div class="card">
        <h4>{{ stats.applied }}</h4>
        <p>Applications Sent</p>
      </div>
      <div class="card">
        <h4>{{ stats.interviews }}</h4>
        <p>Interviews</p>
      </div>
      <div class="card">
        <h4>{{ stats.shortlisted }}</h4>
        <p>Shortlisted</p>
      </div>
      <div class="card">
        <h4>{{ stats.rejected }}</h4>
        <p>Rejected</p>
      </div>
    </div>
  </div>
  