
<div class="job-postings-container">
    <h3>Job Postings</h3>
  
    <!-- New Job Form -->
    <form (ngSubmit)="createJob()" #jobForm="ngForm" class="job-form">
      <div>
        <label for="title">Job Title</label>
        <input type="text" id="title" [(ngModel)]="newJob.title" name="title" required />
      </div>
  
      <div>
        <label for="description">Description</label>
        <textarea id="description" [(ngModel)]="newJob.description" name="description" required></textarea>
      </div>
  
      <div>
        <label for="location">Location</label>
        <input type="text" id="location" [(ngModel)]="newJob.location" name="location" required />
      </div>
  
      <button type="submit" [disabled]="!jobForm.valid">Post Job</button>
    </form>
  
    <input
  type="text"
  [(ngModel)]="searchTerm"
  placeholder="Search job title..."
  class="search-input"
/>

<ul>
    <li *ngFor="let job of filteredJobs()">
      {{ job.title }}
    </li>
  </ul>

    <!-- Job List -->
   <!-- Job List -->
<div class="job-list" *ngIf="jobs.length > 0">
    <h4>Posted Jobs</h4>
    <ul>
      <li *ngFor="let job of jobs">
        <h5>{{ job.title }}</h5>
        <p>{{ job.description }}</p>
        <span class="location">{{ job.location }}</span>
        <button (click)="deleteJob(job)">Delete</button>
      </li>
    </ul>
  </div>
  